
 <h1 class="text-center">Random Passcode (passcode #<span id="count">@ViewBag.Count</span>  )</h1>
    <h3 class="text-center" id="pass"> @ViewBag.passcode </h3>
    <div class="text-center">
        <button type="button" onclick="RandomPass()" class="btn btn-primary btn-lg text-center">Generate(Ajax)</button>
        <a href="/" class="btn btn-primary btn-lg text-center">Generate</a>
    </div>
    